{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <form method="post" action="{% url 'create-contest' %}">
            {% csrf_token %}
            <label for="contest_name">Name *</label>
            <input class="form-control" type="text" name="name" id="contest_name" required>
            <label for="starts_at">Starts At *</label>
            <input class="form-control" type="datetime-local" name="starts_at" id="starts_at" required>
            <label for="ends_at">Ends At</label>
            <input class="form-control" type="datetime-local" name="ends_at" id="ends_at">
            <div>
                <p>Visibility</p>
                <input type="radio" value="0" name="is_private" id="public" checked>
                <label for="public">Public</label><br>
                <input type="radio" value="1" name="is_private" id="private">
                <label for="private">Private</label><br>
            </div>
            <label for="domains">Domains</label>
            <input class="form-control" type="text" name="domains">
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>


{% endblock %}